# compiled files
__pycache__/
*.py[cod]
*$py.class

# poetry files
*.lock
# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
__pypackages__/

# mkdocs documentation
/site

# Pyre type checker
.idea/
.pyre/
*.pkl
babi/data/
logs/
saved_models/